annotated-types
colorama
colorzero
filelock
fsspec
gpiozero
iniconfig
Jinja2
MarkupSafe
mpmath
networkx
numpy
opencv-python
packaging
pigpio
pillow
pluggy
pybullet
pydantic
pydantic_core
Pygments
pytest
setuptools
sympy
torch
torchvision
typing-inspection
typing_extensions
torch-directml
